body {
    background-color: #393053;
    font-family: Arial, sans-serif;
    color: #fff;
  }
  
  h1 {
    color: #635985;
    text-align: center;
  }
  
  form {
    background-color: #443C68;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
  }
  
  label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #635985;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  