<div class="toolbar">
    <div class="username" *ngFor="let u of usuarios"> {{ u.carnet }} - {{ u.nombres }} {{ u.apellidos }} - {{ u.credencial }}</div>
    <div class="dropdown">
        <button class="dropbtn">Opciones <i class="fas fa-chevron-down"></i></button>
        <div class="dropdown-content">
            <a href="#" onclick="navigateToLogin()">Cerrar Sesión</a>
            <a href="#">Otra Opción</a>
        </div>
    </div>
</div>

<div class="button_container">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
</div>

<div class="menu">
    <a href="#" class="it"><span></span></a>
    <a href="#" class="it"><span></span></a>
    <a href="#" class="it"><span></span></a>
    <a href="#" class="it"><span></span></a>
    <a href="#" class="it"><span></span></a>
</div>