<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pensum</title>
	<link rel="stylesheet" type="text/css" href="pensum-carrera.component.css">
</head>
<body>
  <div id="container">
    <div id="titleContainer">
      <h2 class="titulo">Pensum</h2>
    </div>
    <div class="tableContainer">
        <table class="tabla" border="1">
          <thead>
            <tr>
              <th>Ciclo 1</th>
              <th>Ciclo 2</th>
              <th>Ciclo 3</th>
              <th>Ciclo 4</th>
              <th>Ciclo 5</th>
              <th>Ciclo 6</th>
              <th>Ciclo 7</th>
              <th>Ciclo 8</th>
              <th>Ciclo 9</th>
              <th>Ciclo 10</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">1</div>
                  <div class="codigo">AMP0</div>
                  <div class="descripcion">Analizando entornos innovadores</div>
                </div>
              </td>
              <td>
                <div class="materia">
                  <div class="number">2</div>
                  <div class="codigo">DLP0</div>
                  <div class="descripcion">Desarrollo de lógica de programación</div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</body>
</html>