<!DOCTYPE html>
<html>
<head>
	<title>Calendario Académico</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="actividades-academicas.component.css">
</head>
<body>
	<h1>Calendario Académico</h1>
	<table>
		<thead>
			<tr>
				<th>Mes</th>
				<th>Día</th>
				<th>Actividad</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Enero</td>
				<td>10</td>
				<td class="evento">Inicio del semestre</td>
			</tr>
			<tr>
				<td>Febrero</td>
				<td>20</td>
				<td class="actividad">Reunión de profesores</td>
			</tr>
			<tr>
				<td>Marzo</td>
				<td>5</td>
				<td class="examen">Examen parcial de matemáticas</td>
			</tr>
			<tr>
				<td>Abril</td>
				<td>14</td>
				<td class="evento">Día de San Valentín</td>
			</tr>
			<tr>
				<td>Mayo</td>
				<td>21</td>
				<td class="actividad">Seminario de ciencias</td>
			</tr>
            <tr>
				<td>Junio</td>
				<td>3</td>
				<td class="actividad">Orden de salones</td>
			</tr>
            <tr>
				<td>Julio</td>
				<td>6</td>
				<td class="evento">Consulta con directoria</td>
			</tr>
            <tr>
				<td>Agosto</td>
				<td>17</td>
				<td class="evento">Día del mojado</td>
			</tr>
            <tr>
				<td>Septiembre</td>
				<td>13</td>
				<td class="examen">Exposición de valores</td>
			</tr>
            <tr>
				<td>Octubre</td>
				<td>20</td>
				<td class="actividad">Obras liricales</td>
			</tr>
            <tr>
				<td>Noviembre</td>
				<td>8</td>
				<td class="evento">Horatorias finales</td>
			</tr>
            <tr>
				<td>Diciembre</td>
				<td>31</td>
				<td class="evento">Evento de despedida</td>
			</tr>
		</tbody>
	</table>
</body>
</html>