<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Grupos</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #393053;
            color: #ffffff;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h2>Grupos Habilitados</h2>
            <table>
                <tr>
                    <th>Grupo</th>
                    <th>Materia</th>
                    <th>Salon de Clase</th>
                    <th>Grado Academico</th>
                    <th>Horario</th>
                </tr>
                <asp:Repeater ID="rptClassGroups" runat="server">
                    <ItemTemplate>
                        <tr>
                            <td><%# Eval("Group") %></td>
                            <td><%# Eval("Class") %></td>
                            <td><%# Eval("Classroom") %></td>
                            <td><%# Eval("AcademicGrade") %></td>
                            <td><%# Eval("Subject") %></td>
                        </tr>
                    </ItemTemplate>
                </asp:Repeater>
            </table>
        </div>
    </form>
</body>
</html>
