body {
    font-family: Arial, sans-serif;
    background-color: #635985;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  form {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  label {
    font-size: 18px;
    margin-right: 10px;
  }
  
  input[type=text],
  input[type=date],
  textarea {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
    margin-bottom: 10px;
    background-color: #443C68;
    color: #fff;
  }
  
  button[type=submit] {
    font-size: 18px;
    background-color: #393053;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: #18122B;
  }
  
  /* Estilos específicos para algunos campos */
  input[type=date] {
    width: 150px;
  }
  
  textarea {
    height: 150px;
    resize: none;
  }
