.calendar {
  margin-bottom: 20px;
}

.calendar-header {
  font-size: 20px;
}

.calenda {
  margin-top: 10px;
}

.calendar-day {
  padding: 5px;
}

.event-day {
  background-color: yellow;
  cursor: pointer;
}

.description-popup {
  position: absolute;
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
  display: none;
}

.description-popup.show {
  display: block;
}
