<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Seleccionar Facultad y Carrera</title>
    <link rel="stylesheet" href="carreras.component.css">
</head>
<body>
    <h1>Seleccionar Facultad y Carrera</h1>
    <form action="#" method="POST">
        <label for="facultad">Facultad:</label>
        <select name="facultad" id="facultad">
            <option value="">-- Selecciona una Facultad --</option>
            <option value="facultad1">Facultad 1</option>
            <option value="facultad2">Facultad 2</option>
            <option value="facultad3">Facultad 3</option>
        </select>
        <br>
        <label for="carrera">Carrera:</label>
        <select name="carrera" id="carrera">
            <option value="">-- Selecciona una Carrera --</option>
            <option value="carrera1">Carrera 1</option>
            <option value="carrera2">Carrera 2</option>
            <option value="carrera3">Carrera 3</option>
        </select>
        <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
